
<body class="bg-gray-100 font-sans min-h-screen flex flex-col items-center justify-center">
  <!-- Header Section -->
  <%= render 'shared/header' %>

  <div class="container mx-auto my-20 text-center">
    <div class="max-w-2xl mx-auto flex justify-end">
      <%= link_to edit_blog_path, class: "flex items-center text-blue-500 hover:text-blue-700" do %>
        Edit
      <% end %>
    </div>
    <div class="max-w-2xl mx-auto bg-white p-6 rounded shadow">
      <%= image_tag @blog.image.url, class: "w-full object-cover mb-4" %>
      <h1 class="text-2xl font-bold mb-4"><%= @blog.title %></h1>
      <p class="text-gray-700"><%= @blog.body %></p>
    </div>
    <div class="max-w-2xl mx-auto flex justify-end">
      <%= link_to blogs_path, class: "flex items-center text-blue-500 hover:text-blue-700" do %>
        <span class="ml-1">&#8592;&nbsp;</span>
        Back
      <% end %>
    </div>
  </div>
  

  <!-- Footer Section -->
  <%= render 'shared/footer' %>
</body>